APP_ENV=prod
APP_SECRET=change-me
APP_URL=https://portal.midominio.com
DATABASE_URL=postgresql://app:change-me@10.0.2.10:5432/transporte?serverVersion=16&charset=utf8
REDIS_URL=redis://127.0.0.1:6379
REDIS_SESSION_PREFIX=sess:transporte:

MERCURE_URL=http://127.0.0.1:3000/.well-known/mercure
MERCURE_PUBLIC_URL=https://portal.midominio.com/.well-known/mercure
MERCURE_PUBLISHER_JWT_KEY=change-me-publisher
MERCURE_SUBSCRIBER_JWT_KEY=change-me-subscriber
MERCURE_SUBSCRIBER_TOKEN_TTL=3600

TRACCAR_BASE_URL=http://10.0.3.20:8082
TRACCAR_WS_URL=ws://10.0.3.20:8082/api/socket
TRACCAR_USERNAME=admin
TRACCAR_PASSWORD=change-me
POD_STORAGE=database
POD_S3_BUCKET=
POD_S3_REGION=
POD_S3_ENDPOINT=
POD_S3_KEY=
POD_S3_SECRET=

TRUSTED_PROXIES=127.0.0.1,REMOTE_ADDR
TRUSTED_HEADERS=x-forwarded-for,x-forwarded-host,x-forwarded-proto,x-forwarded-port,x-forwarded-prefix
