###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit ###
.phpunit.cache/
###< phpunit ###

###> React SPA build output ###
/public/app/
###< React SPA build output ###
